<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>SubDeals</title>
    <link rel="stylesheet" href="/styles/menuStyle.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="menu">
            <ul>
                <li><img src="/images/prettycatinmenu.png"></li>
                <li>
                    <a th:href="@{/authmenu}">SubDeals</a>
                </li>
                <li>
                    <a th:href="@{/notes}">Заметки</a>
                </li>
                <li>
                    <form method="POST" th:action="@{/logout}" class="logout_form">
                        <button type="submit" class="link-button">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="login_content">
            <form method="POST" th:action="@{/myprofile/updateUser}" th:object="${userForm}">

                <label for="firstName">Имя: </label>
                <input type="text" th:field="*{firstName}">
                <br/>

                <label for="secondName">Фамилия: </label>
                <input type="text" th:field="*{secondName}">
                <br/>

                <label for="thirdName">Отчество: </label>
                <input type="text" th:field="*{thirdName}">
                <br/>

                <label for="birthday">Дата рождения: </label>
                <input th:type="date" th:value="2000-01-01" th:field="*{birthday}">
                <br/>

                <label for="age">Возраст: </label>
                <input type="number" min="0" th:field="*{age}">
                <br/>

                <label for="description">О себе: </label>
                <input type="text" th:field="*{description}">
                <br/>

                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>