<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>SubDeals</title>
    <link rel="stylesheet" href="/styles/menuStyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="menu">
            <ul>
                <li><img src="/images/prettycatinmenu.png"></li>
                <li>
                    <a th:href="@{/authmenu}">SubDeals</a>
                </li>
                <li>
                    <a th:href="@{/history}">Удаленные заметки</a>
                </li>
                <li>
                    <a th:href="@{/myprofile}">Личный кабинет</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="createnote">
                <form th:method="POST" th:object="${note}" th:action="@{/createnote}" class="noteform">
                    <input th:field="*{name}" th:type="text">
                    <select th:field="*{priority}">
                        <option th:each="prior : ${priorities}"
                                th:value="${prior}"
                                th:text="${prior}"
                                ></option>
                    </select>
                    <div th:text="${#dates.format(note.createdAt, 'dd MMM yyyy HH:mm:ss')}"></div>
                    <textarea th:field="*{text}" th:type="text"></textarea>
                    <button>Создать</button>
                </form>
            </div>
            <div th:each="nota, i : ${notes}" class="createnote" th:if="${nota.isDeleted == false}">
                <form th:method="POST" th:object="${note}" th:action="@{/createnote}" class="noteform">
                    <input type="hidden" th:name="changeId" th:value="${nota.id}">
                    <input th:name="name" th:value="${nota.name}">
                    <select th:name="priority">
                        <option th:each="prior : ${priorities}"
                                th:value="${prior}"
                                th:text="${prior}"
                                th:selected="${prior == nota.priority}"
                        ></option>
                    </select>
                    <div th:text="${#dates.format(nota.createdAt, 'dd MMM yyyy HH:mm:ss')}"></div>
                    <textarea th:name="text" th:value="${nota.text}" th:text="${nota.text}" th:id="${nota.id}"></textarea>
                    <button>Сохранить изменения</button>
                    <button th:formaction="@{/deletenote}">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>