<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<img src="/images/prettycatinmenu.png"/>
<h1>Registration</h1>
<form method="post" th:action="@{/register}" id="registerForm">

    <label for="username">Username: </label>
    <input type="text" name="username"><br/>

    <label for="password">Password: </label>
    <input type="password" name="password"><br/>

    <label for="email">Email: </label>
    <input type="email" name="email"><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>